$spacing-types: (
  margin: m,
  padding: p,
) !default;
$spaces: (
  auto: auto,
  0: 0,
  1: 0.25,
  2: 0.5,
  2p5: 0.75,
  2p85: 0.85,
  3: 1,
  3p5: 1.5,
  4: 2,
  5: 3,
  6: 4.5,
  -1: -0.25,
  -2: -0.5,
  -3: -1,
  -4: -1.5,
  -5: -3,
  -6: -4.5,
  -7: -6,
  -8: -8,
  8: 8,
) !default;
$colors: (
  transparent: transparent,
  primary: $c-primary,
  accent-secondary: $c-accent-secondary,
  accent-secondary-light: $c-accent-secondary-light,
  accent-secondary-lighter: $c-accent-secondary-lighter,
  accent-secondary-lightest: $c-accent-secondary-lightest,
  purple: $c-purple,
  primary-dark: $c-primary-dark,
  primary-light: $c-primary-light,
  secondary: $c-secondary,
  secondary-light: $c-secondary-light,
  success: $c-success,
  success-light: $c-success-light,
  warning: $c-warning,
  warning-light: $c-warning-light,
  danger: $c-danger,
  info: $c-info,
  black: $c-black,
  black-dark: $c-black-dark,
  black-light: $c-black-light,
  black-lighter: $c-black-lighter,
  white: $c-white,
  white-dark: $c-white-dark,
  yellow: $c-yellow,
  blue: $c-blue,
  blue-light: $c-blue-light,
  blue-lighter: $c-blue-lighter,
  blue-lightest: $c-blue-lightest,
  blue-lightest-more: $c-blue-lightest-more,
  red: $c-red,
  green-dark: $c-green-dark,
  green-primary: $c-green-primary,
  green: $c-green,
  green-light: $c-green-light,
  green-lighter: $c-green-lighter,
  gray-primary: $c-gray-primary,
  gray-secondary: $c-gray-secondary,
  gray-darker: $c-gray-darker,
  gray-dark: $c-gray-dark,
  gray: $c-gray,
  gray-light: $c-gray-light,
  gray-lighter: $c-gray-lighter,
  gray-lightest: $c-gray-lightest,
  error: $c-error,
) !default;
$spaces-unit: rem !default;
$widths: (
  0: 0,
  // ex: md-7
  14p2: 14.285714286,
  25: 25%,
  33: 33.3333%,
  50: 50%,
  75: 75%,
  100: 100%,
  19px: 19px,
  22px: 22px,
  26px: 26px,
  30px: 30px,
  32px: 32px,
  40px: 40px,
  50px: 50px,
  80px: 80px,
  100px: 100px,
  220px: 220px,
  270px: 270px,
  320px: 320px,
  435px: 435px,
  auto: auto,
) !default;
$heights: (
  19px: 19px,
  22px: 22px,
  26px: 26px,
  32px: 32px,
  40px: 40px,
  50px: 50px,
  80px: 80px,
  125px: 125px,
) !default;
$font-sizes: (
  default: $fz-default,
  10px: $fz-10px,
  12px: $fz-12px,
  14px: $fz-14px,
  15px: $fz-15px,
  16px: $fz-16px,
  18px: $fz-18px,
  20px: $fz-20px,
  22px: $fz-22px,
  26px: $fz-26px,
  30px: $fz-30px,
) !default;
$font-weights: (
  default: $fw-default,
  bold: $fw-bold,
  simi-bold: $fw-simi-bold,
  medium: $fw-medium,
  normal: $fw-normal,
) !default;
$font-family: (
  default: $ff-default,
) !default;
