.btn + .btn,
.btn-group + .btn-group {
  margin-left: 4px;
  @include rtl {
    margin-left: 0;
    margin-right: 4px;
  }
}
.btn.btn-sm.btn-.btn-icon-only.text-light {
  background-color: transparent;
}
.input-group {
  .btn + .btn {
    margin-left: -1px;
    @include rtl {
      margin-right: -1px;
      margin-left: 0;
    }
  }
}
